<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pocket Reads</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body { padding-top: 10px; }
    </style>
</head>
<body class="container">
<main>
    <div class="modal"></div>
    <div class="jumbotron">
        <ol>
            <%  for (var i = 0; i < articles.length; i++) {
            var article = articles[i][1]; %>
            <li><a target="_blank" href="<%= article.resolved_url %>"><%= article.given_title %></a>
                - <%= article.word_count %> -
                <a class="delete-article" title="<%= article.given_title %>" data-id="<%= article.item_id %>">Delete</a></li>
            <% } %>
        </ol>
    </div>
</main>
<footer>
    <p class="text-center text-muted">© Copyright 2014 Anna Vester</p>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('http://localhost:8080');
    var deleteLinks = document.querySelectorAll(".delete-article");
    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function(event) {
            if (!confirm("sure u want to delete " + this.title)) {
                event.preventDefault();
            } else {
                socket.emit('delete article', this.getAttribute("data-id"));
            }
        });
    }</script>
</body>
</html>